<div class="header-navigation">
    <BsNavbar @backgroundColor="nav-bg" as |navbar|>
        <div class="navbar-header">
            <navbar.toggle />
        <a class="navbar-brand" href="#">Brand</a>
        </div>
    <navbar.content>
        <navbar.nav as |nav|>
            {{#each navigation as |select|}}
                <nav.item>
                    <nav.linkTo @route={{select.link}}>{{select.display}}</nav.linkTo>
                </nav.item>
            {{/each}}
        </navbar.nav>
    </navbar.content>
    </BsNavbar>
</div>


